/ {
	aliases {
		pwm-motor0 = &motor0;
	};

	pwm_motors {
		compatible = "pwm-leds";
		status = "okay";

		motor0: motor0_pwm {
			pwms = <&pwm 0 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
			label = "PWM_MOTOR0";
		};

	};
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwmm1_default>;
	pinctrl-names = "default";
};

&pinctrl {

	pwmm1_default: pwmm1_default {
		status = "okay";
		group1 {
			pinmux = <PWM_0A_P16>;
			bias-disable;  /* Disable pull-up/pull-down */
		};
	};

};