/ {
	chosen {
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,console = &cdc_acm_uart1;
	};

	aliases {
		pwm-motor0 = &motor0;
		pwm-motor1 = &motor1;
		pwm-led = &led;

		as5600-sensor = &as5600;
	};

	pwm_motors {
		compatible = "pwm-leds";
		status = "okay";

		motor0: motor0_pwm {
			pwms = <&pwm 0 PWM_HZ(25000) PWM_POLARITY_INVERTED>;
			label = "PWM_MOTOR0";
		};

		motor1: motor1_pwm {
			pwms = <&pwm 1 PWM_HZ(25000) PWM_POLARITY_INVERTED>;
			label = "PWM_MOTOR1";
		};

		led: led_pwm {
			pwms = <&pwm 9 PWM_HZ(25000) PWM_POLARITY_NORMAL>;
			label = "LED";
		};

	};
};

&uart0 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
	label = "i2c1";
	as5600: as5600@36 {
		compatible = "ams,as5600";
		reg = <0x36>;
		status = "okay";
	};

};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwmm1_default>;
	pinctrl-names = "default";
	label = "pwm0";

};

&pinctrl {

	pwmm1_default: pwmm1_default {
		status = "okay";

		group1 {
			pinmux = <PWM_0A_P16>, <PWM_0B_P17>, <PWM_4B_P25>;
			bias-disable;  /* Disable pull-up/pull-down */
		};
	};

	i2c1_default: i2c1_default {
		status = "okay";
		group1 {
			pinmux = <I2C1_SDA_P26>, <I2C1_SCL_P27>;
			bias-pull-up;
		};
	};
};


&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_1";
	};
};

&flash0 {
	reg = <0x10000000 DT_SIZE_M(2)>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Usable flash. Starts at 0x100, after the bootloader. The partition
		 * size is 1MB minus the 0x100 bytes taken by the bootloader.
		 */
		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x100 (DT_SIZE_M(1) - 0x100)>;
			read-only;
		};

		storage_partition: partition@100000 {
			label = "storage";
			reg = <0x100000 0x00007000>;
		};
	};
};